body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-fixed-top {
	min-height: 0;
}

.navbar-fixed-top > .btn-group {
	margin: 8px 0;
}

.previous-next-pagination {
	float: left;
	padding-right: 10px;
}

#pageScroll {
	position: relative;
	overflow: hidden;
}

#pageScroll li {
	display: table-cell;
}

.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.form-control-xs {
	height: 100%;
	padding: 2px 4px;
}

.form-group-xs input {
	height: 22px;
}

.favorite-list a {
    overflow: hidden;
}

.favorite-list .form-control {
    height: auto;
}

.navbar-form[action="/search"] {
    width: 300px;
}

.bbcode-panel .panel-body {
    padding: 0;
}

.bbcode-panel textarea {
    border-radius: 0;
    border-width: 0;
}

.microEditor-button {
    margin-right: 4px;
}

.microEditor-buttonGroup {
    padding-right: 8px;
}

.tagListContainer {
	line-height: 30px;
}

.chat-panel {
	position: relative;
	word-wrap: break-word;
	overflow-y: hidden;
	height: 400px;
	font-size: 80%;
}