@(user: Option[User], comments: Iterable[Comment])
@for(comment <- comments) {
	<div class="panel panel-default" id="comment@comment.id">
		<div class="panel-heading">
			@if(user.isDefined && user.get.id == comment.author.id) {
				<button type="button" class="btn btn-default btn-xs" id="deleteComment@comment.id">delete</button>
			} else {
				<a href="/user/@comment.author.id">@comment.author.name</a>
			}
			(@comment.date.format(if (user.isDefined) user.get.dateFormat else "dd MMM yyyy hh:mm:ss"))
			<a href="/entry/@comment.entry.id?comment_id=@comment.id">#</a>
		</div>
		<div class="panel-body">
		@Html(comment.content)
		</div>
	</div>
}