@(user: Option[User], entries: Iterable[Entry])
<script>
	var entryId = -1;
</script>
<table class="table table-striped table-hover" style="width: auto">
@for(entry <- entries) {
	<tr>
		<td>
		@if(user.isDefined && user.get.id == entry.author.id) {
			<button type="button" class="btn btn-danger btn-xs" id="deleteButton@entry.id">delete</button>
			<a href="/entry/save/@entry.id" class="btn btn-primary btn-xs">update</a>
			<script>
				$('#deleteButton@entry.id').click(function() {
					entryId = @entry.id;
					$('#modalDelete').modal();
				})
			</script>
		} else {
			<a href="/user/@entry.author.id">@entry.author.name</a>
		}
		</td>
		<td>@entry.date.format(if (user.isDefined) user.get.dateFormat else controllers.defaultDateFormat)</td>
		<td><a href="/entry/@entry.id">@entry.title</a></td>
	</tr>
}
</table>
@deletionModal("/entry/delete", "{id: entryId}")