@(user: Option[User], entries: Iterable[Entry])
@for(entry <- entries) {
	<h2><a href="/entry/@entry.id">@entry.title</a></h2>
	<h5>
		@if(user.isDefined && user.get.id == entry.author.id) {
			<a href="/entry/save/@entry.id" class="btn btn-primary btn-xs">update</a>
		} else {
			by <a href="/user/@entry.author.id">@entry.author.name</a>
		}
		(@entry.date.format(if (user.isDefined) user.get.dateFormat else "dd MMM yyyy hh:mm:ss"))
	</h5>
	<small>@tagList(entry.tags)</small>
	<div>@Html(entry.content)</div>
	<hr/>
}