@(user: Option[User], entry: Entry, commentId: Long)
@wrapper(user, entry.title) {
	<h2>@entry.title</h2>
	<h5>by <a href="/user/@entry.author.id">@entry.author.name</a> (@entry.date.format("dd MMM yyyy hh:mm:ss"))</h5>
	<small>@tags(entry)</small>
	<hr/>
	<p>@Html(entry.content)</p>
	<hr/>
	@if(user.isDefined) {
		<form method="post" action="/comment/save" role="form" id="commentForm">
			<input type="hidden" name="entryId" value="@entry.id">
			<div id="expanderContent" style="display:none">
				<textarea class="form-control" name="content" id="content" rows="8"></textarea>
			</div>
			<h5><button id="addComment" type="button" class="btn btn-sm btn-success">add comment</button></h5>
		</form>
	}
	@views.html.commentList(entry.comments)
} {
	<script>
		var isCommentFormExpanded = false;
		$('#addComment').click(function() {
			if (isCommentFormExpanded)
				$('#commentForm').submit();
			else {
				isCommentFormExpanded = true;
				$('#expanderContent').animate({height: 'toggle', opacity: 'toggle'});
			}
		});
		var comment = $('#comment@commentId');
		comment.css('backgroundColor', '#9fff9f');
		$('html, body').animate({scrollTop: comment.offset().top}, 1000, 'swing', function() {
			comment.animate({backgroundColor: '#ffffff'}, 200, 'linear');
		});
	</script>
}