@(user: Option[User], errors: Seq[FormError] = Nil, badData: Map[String, String] = Map.empty)
@wrapper(user) {
	<br/>
	<form method="post" action="/entry/save" class="form-horizontal" role="form">
		@renderInput(errors, badData, "title", "title", "text", "title")
		@renderInput(errors, badData, "tags", "tags", "text")
		<div class="form-group">
			<label class="col-xs-offset-2 col-xs-4" for="openForAll">
				<input type="checkbox" name="openForAll" id="openForAll">
				open for all
			</label>
		</div>
		<div class="form-group@(if (errors.exists(_.key == "content")) " has-error")">
			<label for="content" class="col-xs-2 control-label">content</label>
			<div class="col-xs-9">
				<textarea class="form-control" name="content" id="content" rows="15"></textarea>
				@defining(errors.filter(_.key == "content").iterator) { i =>
					@for(error <- i) {
						<span class="help-block">@error.message@(if(i.hasNext) ", " else "")</span>
					}
				}
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-4">
				<button type="submit" class="btn btn-success btn-sm">add entry</button>
			</div>
		</div>
	</form>
}
