@(user: Option[User], errors: Seq[FormError] = Nil, entryData: Map[String, String] = Map.empty)
@wrapper(user) {
	<br/>
	<form method="post" action="/entry/save" class="form-horizontal" role="form">
		<input type="hidden" name="id" value="@entryData.get("id").getOrElse(-1)">
		@renderInput(errors, entryData, "title", "title", "text", "title")()
		@renderInput(errors, entryData, "tags", "tags", "text") {
			<span id="tagListContainer"></span>
		}
		<input type="hidden" name="tagsHiddenString" id="tagsHiddenString">
		<div class="form-group">
			<label class="col-xs-offset-2 col-xs-4" for="openForAll">
				<input type="checkbox" name="openForAll" id="openForAll" value=true @*omg, checkbox binding*@
					@(if (entryData.contains("openForAll") && entryData("openForAll") == "true") "checked")>
				open for all
			</label>
		</div>
		<div class="form-group@(if (errors.exists(_.key == "content")) " has-error")">
			<label for="content" class="col-xs-2 control-label">content</label>
			<div class="col-xs-9">
				<textarea class="form-control" name="content" id="content" rows="15">@(
					if (entryData.contains("content")) entryData("content") else "")</textarea>
				@defining(errors.filter(_.key == "content").iterator) { i =>
					@for(error <- i) {
						<span class="help-block">@error.message@(if(i.hasNext) ", " else "")</span>
					}
				}
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-9">
				@if(entryData.contains("id") && !entryData("id").isEmpty && entryData("id") != "-1") {
					<button type="submit" class="btn btn-success btn-sm">update entry</button>
					<button type="button" class="btn btn-danger btn-sm btn-delete" id="deleteButton">delete entry</button>
				} else {
					<button type="submit" class="btn btn-success btn-sm">add entry</button>
				}
				<button type="button" class="btn btn-default btn-sm" id="cancelButton">cancel</button>
			</div>
		</div>
	</form>
	@if(entryData.contains("id") && !entryData("id").isEmpty) {
		<form method="post" action="/entry/delete" id="deleteForm">
			<input type="hidden" name="id" value="@entryData("id")">
		</form>
	}
} {
	<script>
		$('#cancelButton').click(function() {window.location='/';});
		$('#deleteButton').click(function() {$('#deleteForm').submit();});
		var tagList = $('#tagListContainer');
		var tagInput = $('#tags');
		var addTags = function(str) {
			str.
				split(',').
				filter(function(s) {return /^[\w \-]+$/.test(s);}).
				forEach(function(s) {
					var tagName = s.trim();
					var tagString = $('#tagsHiddenString');
					tagString.val(tagString.val() + ',' + tagName);
					$('<a href="#" id="tag' + tagName + '" class="label label-info" style="margin-left:4px;">' + tagName + ' ×</a>').
						appendTo(tagList).click(function() {
							var tagNames = tagString.val().split(',');
							tagNames = tagNames.filter(function(e) {return e !== tagName;});
							tagString.val(tagNames.join());
							$('#tag' + tagName).remove();
						});
				}
			);
		};
		tagInput.keypress(function(event) {
			if (event.keyCode == 13 && tagInput.val()) {
				event.preventDefault();
				addTags(tagInput.val());
				tagInput.val("");
			}
		});
		tagInput.autocomplete({
			serviceUrl: '/tags',
			deferRequestBy: 250,
			delimiter: ',',
			onSelect: function(suggestion) {
				addTags(suggestion.value);
				tagInput.val("");
			}
		});
		@if(entryData.contains("tagsHiddenString") && !entryData("tagsHiddenString").isEmpty) {
			addTags('@(entryData("tagsHiddenString"))');
		}
		$('#content').sceditor({
			plugins: 'bbcode',
			toolbar: 'bold,italic,underline,strike,size|removeformat|link,image,youtube|quote,orderedlist,code,center|date,time|maximize,source',
			style: '@routes.Assets.at("stylesheets/jquery.sceditor.default.min.css")'
		});
	</script>
}