@(user: Option[User], errors: Iterable[FormError] = Nil, entryData: Map[String, String] = Map.empty)
@isUpdateMode = @{entryData.contains("id") && !entryData("id").isEmpty && entryData("id") != "-1"}
@wrapper(user) {
	<form method="post" action="/entry/save" class="form-horizontal h5">
		<input type="hidden" name="id" value="@entryData.get("id").getOrElse(-1)">
		@renderInput(errors, entryData, "title", "title", "text", "title")()
		@renderInput(errors, entryData, "tags", "tags", "text") {
			<span class="tagListContainer">selected: </span>
		}
		<input type="hidden" name="tagsHiddenString" id="tagsHiddenString">
		<div class="form-group">
			<label class="col-xs-offset-2 col-xs-4" for="openForAll">
				<input type="checkbox" name="openForAll" id="openForAll" value=true @*omg, checkbox binding*@
					@(if (entryData.contains("openForAll") && entryData("openForAll") == "true" || !entryData.contains("id")) "checked")>
				open for all
			</label>
		</div>
		<div class="form-group form-group-xs">
			<div class="col-xs-2 col-xs-offset-2">
				<div class="input-group">
					<input type="text" placeholder="image url" class="form-control form-control-xs" id="quickImageUrl">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-xs" id="uploadImageButton" tabindex="-1">upload</button>
					</span>
				</div>
			</div>
			<div class="col-xs-2">
				<input type="file" placeholder="image file" class="form-control-xs" name="quickImageFile"
					id="quickImageFile" accept="image/*">
			</div>
		</div>
		<div class="form-group form-group-xs">
			<div class="col-xs-2 col-xs-offset-2">
				<div class="input-group">
					<input type="text" placeholder="page url" class="form-control form-control-xs" id="contentUrl">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="input-group">
					<input type="text" placeholder="start text" class="form-control form-control-xs" id="startText">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="input-group">
					<input type="text" placeholder="end text" class="form-control form-control-xs" id="endText">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="input-group">
					<button type="button" class="btn btn-default btn-xs" id="uploadContentButton" tabindex="-1">upload content from url</button>
				</div>
			</div>
		</div>
		<div class="form-group@(if (errors.exists(_.key == "content")) " has-error")">
			<label for="content" class="col-xs-2 control-label">content</label>
			<div class="col-xs-9">
				<div class="panel panel-default bbcode-panel">
					<div class="panel-heading" id="buttonsContainer"></div>
					<div class="panel-body">
						<textarea class="form-control" name="content" id="content" rows="15"></textarea>
						@defining(errors.filter(_.key == "content").iterator) { i =>
							@for(error <- i) {
								<span class="help-block">@error.message@(if(i.hasNext) ", " else "")</span>
							}
						}
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-9">
				@if(isUpdateMode) {
					<button type="submit" class="btn btn-success btn-sm">update entry</button>
					<button type="button" class="btn btn-danger btn-sm pull-right" id="deleteButton" tabindex="-1">delete entry</button>
				} else {
					<button type="submit" class="btn btn-success btn-sm">add entry</button>
				}
				<button type="button" class="btn btn-default btn-sm" id="cancelButton">cancel</button>
			</div>
		</div>
	</form>
	@if(isUpdateMode) {
		@deletionModal("/entry/delete", "{id: " + entryData("id") + "}")
	}
} {
	<script>
		$('#cancelButton').click(function() {window.location='/';});

		@if(isUpdateMode) {
			$('#deleteButton').click(function() {
				$('#modalDelete').modal();
			});
		}

		var tagList = $('.tagListContainer');
		var tagInput = $('#tags');
		var tagsHiddenString = $('#tagsHiddenString');
		initAutocomplete('/tags', tagInput, tagList, tagsHiddenString);
		@if(entryData.contains("tagsHiddenString") && !entryData("tagsHiddenString").isEmpty) {
			addLabelsToContainer('@(entryData("tagsHiddenString"))', tagList, tagsHiddenString);
		}

		var contentTextArea = $('#content');
		@if(entryData.contains("content") && !entryData("id").isEmpty && entryData("id") != "-1") {
			var text = "@Html(entryData("content").replace("\"", "'"))";
			[
				[/<br\/>/g, '\r\n'],
				[/<strong>([\s\S]+?)<\/strong>/g, '[b]$1[/b]'],
				[/<i>([\s\S]+?)<\/i>/g, '[i]$1[/i]'],
				[/<u>([\s\S]+?)<\/u>/g, '[u]$1[/u]'],
				[/<s>([\s\S]+?)<\/s>/g, '[s]$1[/s]'],
				[/<font size=(\d+?)>([\s\S]+?)<\/font>/g, '[size=$1]$2[/size]'],
				[/<a href='(\S+?)'>([\s\S]+?)<\/a>/g, '[url=$1]$2[/url]'],
				[/<img src='(\S+?)'\/>/g, '[img]$1[/img]'],
				[/<img width='(\d*?)' height='(\d*?)' src='(\S+?)'\/>/g, '[img=$1,$2]$3[/img]'],
				[/<blockquote>([\s\S]+?)<\/blockquote>/g, '[quote]$1[/quote]'],
				[/<ol>([\s\S]+?)<\/ol>/g, '[ol]$1[/ol]'],
				[/<li>([\s\S]+?)<\/li>/g, '[li]$1[/li]'],
				[/<div align='center'>([\s\S]+?)<\/div>/g, '[center]$1[/center]'],
				[/<pre><code class='(\S*?)'>([\s\S]+?)<\/code><\/pre>/g, '[code=$1]$2[/code]'],
				[/<p>([\s\S]+?)<\/p>/g, '[p]$1[/p]']
			].forEach(function(pair) {text = text.replace(pair[0], pair[1])});
			contentTextArea.val(text);
		}
		microEditor(contentTextArea[0], $('#buttonsContainer')[0], {
			buttons: 'bold,italic,underline,strike,size|link,image|quote,list,hlCode|center,paragraph|preview',
			customButtons: {
				hlCode: ['code', '', '', '', function(text, selectionStart, selectionEnd) {
					var openTag = '[code=lang-' + prompt('choose language: clojure, coffeescript, cpp, cs, css, go, haskell, ' +
						'java, javascript, lua, php, python, ruby, scala, sql, xml') + ']';
					var result = insertInString(text, openTag, selectionStart);
					result = insertInString(result, '[/code]', selectionEnd + openTag.length);
					return result;
				}]
			},
			customPreviewReplaces: [[/\[code=(\S*?)\]([\s\S]+?)\[\/code\]/g, '<pre><code class="$1">$2</code></pre>']],
			onPreview: function(previewContainer) {
				var temp = [];
				var nodeList = previewContainer.getElementsByTagName('pre');
				for(var i = 0, n; n = nodeList[i]; ++i) temp.push(n);
				temp.forEach(function(e) {hljs.highlightBlock(e)});
			}
		});

		var isLoading = false;
		var quickImageUrl = $('#quickImageUrl');
		var uploadImageButton = $('#uploadImageButton');
		quickImageUrl.keypress(function(event) {
			if (event.keyCode == 13 && quickImageUrl.val()) {
				event.preventDefault();
				insertResponse('/image/fromUrl', {}, quickImageUrl, uploadImageButton, contentTextArea,
						function(response) {return '[img]' + response + '[/img]'});
			}
		});
		uploadImageButton.click(function() {
			insertResponse('/image/fromUrl', {}, quickImageUrl, uploadImageButton, contentTextArea,
					function(response) {return '[img]' + response + '[/img]'});
		});

		var quickImageFile = $('#quickImageFile');
		quickImageFile.change(function() {
			if (isLoading)
				return;
			isLoading = true;
			uploadImageButton.text("loading");
			var formData = new FormData();
			formData.append('quickImageFile', quickImageFile[0].files[0]);
			$.ajax({
				url:'/image/fromFile',
				type:'POST',
				data: formData,
				processData: false,
				contentType: 'multipart/form-data',
				success: function(response) {
					if (response) {
						contentTextArea[0].value = insertInString(contentTextArea[0].value, '[img]' + response + '[/img]',
							contentTextArea[0].selectionEnd);
						quickImageFile.val("");
					}
					uploadImageButton.text("upload");
					isLoading = false;
				}
			})
		});

		var contentUrl = $('#contentUrl');
		var uploadContentButton = $('#uploadContentButton');
		var startText = $('#startText');
		var endText = $('#endText');
		contentUrl.keypress(function(event) {
			if (event.keyCode == 13 && contentUrl.val()) {
				event.preventDefault();
				insertResponse('/content/fromUrl', {startText: startText.val(), endText: endText.val()},
						contentUrl, uploadContentButton, contentTextArea, function(response) {startText.val("");endText.val("");return response});
			}
		});
		uploadContentButton.click(function() {
			insertResponse('/content/fromUrl', {startText: startText.val(), endText: endText.val()},
					contentUrl, uploadContentButton, contentTextArea, function(response) {startText.val("");endText.val("");return response});
		});
	</script>
}