@(currentUser: Option[User], user: User, errors: Iterable[FormError] = Nil, entryData: Map[String, String] = Map.empty)
@isUserDefined = @{currentUser.isDefined && currentUser.get.id == user.id}
@wrapper(currentUser, user.name) {
	@if(isUserDefined) {
		<h1 class="col-xs-offset-2">Hi, @user.name</h1>
		<form method="post" action="/user/save" class="form-horizontal h5">
			@renderInput(errors, entryData, "old password", "oldPass", "password")()
			@renderInput(errors, entryData, "new password", "newPass", "password")()
			@renderInput(errors, entryData, "retype new password", "newPass2", "password")()
			<div class="form-group">
				<label class="col-xs-offset-2 col-xs-4" for="entryListType">
					<input type="checkbox" name="entryListType" id="entryListType" value=true
						@(if (entryData.contains("entryListType") && entryData("entryListType") == "true") "checked")>
					compact entry list
				</label>
			</div>
			@renderInput(errors, entryData, "date format", "dateFormat", "text")()
			@renderInput(errors, entryData, "number of entries per page", "itemsOnPage", "number")()
			<div class="form-group@(if(errors.exists(_.key == "codeTheme")) " has-error")">
				<label class="col-xs-2 control-label" for="codeTheme">code highlight theme</label>
				<div class="col-xs-3">
					<select name="codeTheme" id="codeTheme" class="form-control">
					@for((i, text) <- controllers.codeThemeMap) {
						<option@(if(entryData.contains("codeTheme") && entryData("codeTheme") == i.toString) " selected") value="@i">
							@text
						</option>
					}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-3">
					<button type="submit" class="btn btn-success btn-sm">update user</button>
					<button type="button" class="btn btn-default btn-sm" id="cancelButton">cancel</button>
					<button type="button" class="btn btn-danger btn-sm pull-right" id="deleteButton" tabindex="-1">delete user</button>
				</div>
			</div>
		</form>
		@deletionModal("/user/delete", "null")
	} else {
		<h2>It is @user.name</h2>
	}
} {
	@if(isUserDefined) {
		<script>
			$('#cancelButton').click(function() {window.location='/';});

			$('#deleteButton').click(function() {
				$('#modalDelete').modal();
			});
		</script>
	}
}