@(user: Option[User], title: String = "", selectedTag: Option[Tag] = None)(content: Html)(initScript: Html = Html(""))
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>repost@(if (!title.isEmpty) " - " + title)</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/perfect-scrollbar.css")">
		@if(user.isDefined) {
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/highlight/" +
					controllers.codeThemeMap(user.get.codeTheme) + ".css")">
		} else {
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/highlight/dark.css")">
		}
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.modal.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

		<script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.modal.js")"></script>
	</head>
	<body>
		<!--[if IE]>
			<p class="browsehappy">You are using <strong>internet explorer</strong>.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="/">repost</a>
			<form method="get" action="/search" class="navbar-form navbar-right">
				<div class="input-group input-group-sm col-xs-12">
					<input type="text" name="query" class="form-control">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" tabindex="-1">search</button>
						<a href="/searchForm" class="btn btn-default" tabindex="-1">advanced</a>
					</span>
				</div>
			</form>
			@if(user.isDefined) {
				<div class="btn-group btn-group-sm navbar-form navbar-right">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" tabindex="-1">
							@user.get.name
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="/user/@(if (user.isDefined) user.get.id)"><button class="btn btn-link btn-sm">settings</button></a></li>
							<li><a href="/content/importForm"><button class="btn btn-link btn-sm">import</button></a></li>
							<li><a><form method="post" action="/logout">
								<button type="submit" class="btn btn-link btn-sm">sign out</button>
							</form></a></li>
						</ul>
						<a href="/entry/save"><button type="button" class="btn btn-sm btn-success">add entry</button></a>
					</div>
				</div>
			} else {
				<form method="post" action="/auth" class="navbar-form navbar-right">
					<div class="form-group input-group-sm">
						<input type="text" placeholder="login" class="form-control" name="name">
					</div>
					<div class="form-group input-group-sm">
						<input type="password" placeholder="password" class="form-control" name="pass">
					</div>
					<button type="submit" class="btn btn-default btn-sm" tabindex="-1">sign in</button>
					<a class="btn-link btn-sm" href="/register">register</a>
				</form>
			}
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					@if(selectedTag.isDefined) {
						<h3>@selectedTag.get.title:</h3>
					}
					@content
				</div>
				@if(user.isDefined) {
					<div class="col-xs-2">
						<div class="panel panel-default h5">
							<div class="panel-heading">favorite tags:</div>
							<div class="list-group favorite-list">
								<div id="favoriteTagList">
								@for(tag <- user.get.favoriteTags) {
									<a href="/tag/@tag.title" id="favorite@tag.title"
									class="list-group-item@(if(selectedTag.isDefined && selectedTag.get.id == tag.id) " active")">
										@tag.title
										<button type="button" class="btn btn-default btn-xs pull-right" id="removeFavorite@tag.title" tabindex="-1">
											remove
										</button>
									</a>
								}
								</div>
								<input type="text" placeholder="add" class="form-control list-group-item" id="favoriteTags" tabindex="-1">
							</div>
						</div>
						@if(selectedTag.isDefined) {
							<div class="panel panel-default">
								<div class="panel-heading">tag chat</div>
								<div class="chat-panel"></div>
								<div class="input-group input-group-sm">
									<input type="text" name="messageInput" id="messageInput" class="form-control" tabindex="-1">
									<span class="input-group-btn">
										<button type="button" class="btn btn-success" id="sendMessageButton" tabindex="-1">send</button>
									</span>
								</div>
							</div>
						}
					</div>
				}
			</div>
		</div>

		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/perfect-scrollbar-0.4.9.with-mousewheel.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.color-2.1.2.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.autocomplete.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/micro-editor.js")"></script>
		<script src="@routes.Assets.at("javascripts/highlight.pack.js")"></script>
		<script src="@routes.Assets.at("javascripts/main.js")"></script>
		<script>
			@if(user.isDefined) {
				@for(tag <- user.get.favoriteTags) {
					$('#removeFavorite@tag.title').click(function(event) {
						event.preventDefault();
						$.post('/favorite/remove/@tag.title', null, function(response) {
							if ('true' === response)
								$('#favorite@tag.title').remove();
						});
					});
				}
				@if(selectedTag.isDefined) {
					var chatContainer = $('.chat-panel');
					$.get('/chat/history/@selectedTag.get.title', {}, function(response) {
						chatContainer.append(response);
					});
					var chatSocket = new WebSocket('ws://' + window.location.host + '/chat');
					var messageInput = $('#messageInput');
					var sendMessage = function() {
						chatSocket.send(JSON.stringify({tag: '@selectedTag.map(_.title).getOrElse("")', text: messageInput.val()}));
						messageInput.val('');
					};
					$('#sendMessageButton').click(function() {sendMessage()});
					messageInput.keypress(function(event) {
						if (event.keyCode == 13 && messageInput.val()) {
							event.preventDefault();
							sendMessage();
						}
					});
					chatSocket.onmessage = function(message) {
						chatContainer.append(JSON.parse(message.data).text + "<br>");
						chatContainer.animate({scrollTop: chatContainer[0].scrollHeight}, {duration: 1000, queue: false});
					};
				}
			}
		</script>
		@initScript
	</body>
</html>