@(user: Option[User], title: String = "")(content: Html)
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>@title</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
	</head>
	<body>
		<!--[if IE]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<form class="navbar-form navbar-right" role="form">
				<div class="input-group">
					<div class="form-group input-group-sm">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" tabindex="-1">search</button>
						</span>
					</div>
				</div>
			</form>
			@if(user.isDefined) {
				<div class="btn-group btn-group-sm navbar-form">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							@user.get.getTitle
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">settings</a></li>
							<li><form method="post" action="/">
								<input type="hidden" name="logout" value="1">
								<a><button type="submit" class="btn btn-link btn-sm">sign out</button></a>
							</form></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default">all filters</button>
				</div>
			} else {
				<form class="navbar-form navbar-left" role="form" method="post" action="/">
					<div class="form-group input-group-sm">
						<input type="text" placeholder="login" class="form-control" name="name">
					</div>
					<div class="form-group input-group-sm">
						<input type="password" placeholder="password" class="form-control" name="pass">
					</div>
					<button type="submit" class="btn btn-default btn-sm">sign in</button>
					<a class="btn-link btn-sm" href="#">register</a>
				</form>
			}
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					@content
				</div>
			</div>
		</div>

		<script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	</body>
</html>